@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #003C2D;
    box-sizing: border-box;
    color: #003C2D;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.btn-1 {
    height: 38px;
    margin: auto;
    background-color: #003C2D;
    color: #FFb4a4;
    font-size: 25px;
}
.btn-1:hover {
    background-color: #FFb4a4;
    color: #003C2D;
}
#landing-page {
    min-width: 100vw;
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    background-image: url('Visuals/meadow2.jpg');
    background-size: cover;
    background-position: bottom;
    border-bottom: 3px solid #FFb4a4;
}
header h1 {
    margin: 0 0 0 10px;
    padding: 7px;
    font-family: 'Bad Script', cursive;
    font-size: 100px;
    background-color: #FFb4a4DD;
    color: #003C2D;
    border: 2px solid #003C2D;
    border-radius: 50%;
}
header ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header li {
    list-style: none;
    padding: 0 10px;
}
header a {
    padding: 20px;
    border: 2px solid #003C2D;
    border-radius: 50%;
    background-color: #FFb4a4DD;
    color: #003C2D;
    text-decoration: none;
    font-size: 18px;
}
header a:hover {
    font-family: 'Bad Script', cursive;
    font-size: 25px;
    font-weight: bold;
}
header a:focus {
    font-family: 'Bad Script', cursive;
    font-size: 25px;
    font-weight: bold;
}
main {
    min-height: 85vh;
    background-image: url("Visuals/womanInField.jpg");
    background-size: cover;
    background-position: center;
    margin: auto;
    text-align: center;
}
main #spotlight {
    min-height: 85vh;
    background: linear-gradient(180deg, #003C2D, #003C2DAA, #FFB4A4AA, #FFb4a4AA, #FFB4A4AA);
    text-align: center;
}
main #love {
    margin-top: 0px;
    padding-top: 50px;
    font-size: 55px;
    color: #FFb4a4;
}
main .logo {
    font-family: 'Bad Script', cursive;
    font-size: 75px;
    font-weight: bold;
}
main #soothe {
    margin-top: 50px;
    font-size: 50px;
    color: #003C2D;
    text-align: center;
}
main #organic {
    padding: 0;
    margin-top: 70px;
    font-size: 40px;
    color: #003C2D;
}
#story {
    padding: 10px 0;
    background-color: #003C2D;
    color: #FFb4a4;
}
#story article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003C2D;
}
#what-is h2 {
    font-size: 30px;
}
#what-is .logo-small {
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    font-size: 30px;
}
#what-is h3 {
    width: 80%;
    margin: auto;
    padding: 5px 10px 0 10px;
    font-size: 18px;
    text-align: center;
}
#story .dipsi {
    padding: 0 10px;
    font-size: 30px;
}
#story .dipsi2 {
    padding: 40px;
    border-radius: 50%;
    background-color: #FFb4a4dd;
    color: #003C2D;
    font-size: 15px;
    text-align: center;
}
#story img {
    width: 350px;
    height: 400px;
    padding: 0;
    margin-bottom: 0px;
    border-radius: 50%;
}
#remedies {
    background-color: #FFb4a4;
}
#remedies h2 {
    margin: 10px 0 0 0;
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
}
#products ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    list-style: none;
} 
#products ul .box {
    padding: 10px;
    font-size: 18px;
}
#products h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
}
.vert-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 300px;
}
.hori-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}
#remedies .btn-1 {
    display: block;
    margin: auto;
}
#adventures {
    width: 100%;
    background-color: #003C2D;
    color: #FFb4a4;
}
#adventures h2 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
#adventures h3 {
    margin: 0;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
#contact {
    width: 100%;
    background-color: #FFb4a4;
    font-size: 20px;
}
#contact .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact h2 {
    margin: 0;
    text-decoration: underline;
    text-align: center;
}
#contact h3 {
    margin: 0;
    text-align: center;
}
#contact #form, #visitorEmail {
    font-size: 25px;
    text-align: center;
}
footer {
    width: 100%;
    text-align: center;
    background-color: #003C2D;
    color: #FFb4a4;
}
footer h2 {
    margin: 0;
}
@media (max-width: 992px) {
    header h1 {
        margin: 0;
        padding: 0;
        font-size: 75px;
    }
    header li {
        padding: 0;
    }
    main #soothe {
        margin-top: 40px;

    }
    main #organic {
        margin-top: 40px;
    }
    main h2 {
        font-size: 20px;
    }
    main .logo-small {
        font-size: 23px;
    }
    main .container h3 {
        font-size: 15px;
    }
    main .container .logo-small {
        font-size: 23px;
    }
    #story .container {
        flex-direction: column;
    }
    #products ul {
        flex-direction: column;
    } 
}
@media (max-width: 768px) {
    header ul {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header a {
        padding: 0;
        margin-right: 20px;
        background-color: #003C2D;
        color: #FFb4a4;
        text-decoration: none;
        font-size: 18px;
        border: 1px solid #003C2D;
        border-radius: 10%;
        font-size: 18px;
        }
    header a:hover {
        font-family: 'Bad Script', cursive;
        font-size: 25px;
        font-weight: bold;
    }
    header a:focus {
        font-family: 'Bad Script', cursive;
        font-size: 25px;
        font-weight: bold;
    }
    main #love {
        font-size: 50px;
    }
    main #soothe {
        margin-top: 20px;
        font-size: 40px;
    }
    main #organic {
        margin-top: 20px;
        font-size: 30px;
    }
}
@media (max-width: 600px) {
    main #love {
        font-size: 30px;
    }
    main #soothe {
        margin-top: 10px;
        font-size: 30px;
    }
    main #organic {
        margin-top: 10px;
        font-size: 30px;
    }

    #story .dipsi2 {
        font-size: 18px;
    }
    #story img {
        width: 300px;
        height: 325px;
    }
    #contact .container {
        flex-direction: column;
    }
}